@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  height: 100vh;
}

button {
  all: unset;
  cursor: pointer;
  padding: 8px 12px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
