.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  height: 100vh;
  background-color: rgb(38, 40, 43);
  color: white;
}

.heading1 {
  text-align: center;
  font-size: 2.6em;
  font-weight: 700;
  color: rgb(244, 248, 255);
}

.heading2 {
  text-align: center;
  font-size: 1.6em;
  font-weight: 700;
  color: rgb(244, 248, 255);
}

.chatty {
  color: rgb(45, 207, 191);
}

.invalid:focus {
  border: 2px solid rgb(174, 77, 73);
}

.invalidComment {
  color: rgb(174, 77, 73) !important;
}

.valid:focus {
  border: 2px solid rgba(62, 169, 158, 0.918);
}

.validComment {
  color: rgb(62, 169, 158) !important;
}

@media screen and (max-width: 420px) {
  .heading2 {
    font-size: 1em;
  }

  .heading1 {
    font-size: 2.2em;
  }
}
