.form {
  display: flex;
  flex-direction: column;
  padding: 48px;
  width: 440px;
  gap: 32px;
  font-size: 1.4em;
  background-color: rgb(23, 26, 29);
  border-radius: 12px;
  box-shadow: 0 0 8px rgb(27, 29, 31);
}

.centerSelf {
  position: fixed;
  top: calc(50% - 125px);
  left: calc(50% - 220px);
}

.formContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.formField {
  all: unset;
  background-color: rgb(38, 40, 43);
  padding: 12px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  color: gainsboro;
  border: 2px solid rgb(38, 40, 43);
}

.formFieldLabel {
  color: rgb(45, 207, 191);
  font-weight: 500;
}

.fieldComment {
  color: rgb(205, 187, 84);
  font-size: 0.7em;
  text-align: center;
}

.formBtns {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.formBtn {
  flex: 1;
  padding: 6px 12px;
  background-color: rgb(49, 238, 219);
  border-radius: 8px;
  color: black;
  font-weight: 700;
  font-size: 0.8em;
  text-align: center;
  box-shadow: 0 6px 0 rgba(49, 238, 219, 0.6);
  transition: transform 0.3s cubic-bezier(0.34, 1.23, 0.22, 1.1),
    box-shadow 0.3s cubic-bezier(0.34, 1.23, 0.22, 1.1);
}

.formBtn:hover {
  transform: translate3d(0, 2px, 0);
  box-shadow: 0 4px 0 rgba(49, 238, 219, 0.6);
}

.formBtn:active {
  transform: translate3d(0, 4px, 0);
  box-shadow: 0 2px 0 rgba(49, 238, 219, 0.6);
}

.formBtn:first-child {
  min-width: 110px;
}

.formBtn:nth-child(2) {
  flex: 2;
  min-width: 180px;
  background-color: rgb(243, 198, 74);
  box-shadow: 0 6px 0 rgba(243, 198, 74, 0.6);
}

.formBtn:nth-child(2):hover {
  box-shadow: 0 4px 0 rgba(243, 198, 74, 0.6);
}

.formBtn:nth-child(2):active {
  transform: translate3d(0, 4px, 0);
  box-shadow: 0 2px 0 rgba(243, 198, 74, 0.6);
}

@media screen and (max-width: 420px) {
  .form {
    width: 320px;
    padding: 32px;
  }

  .formBtn {
    font-size: 0.6em;
  }

  .formBtn:first-child {
    min-width: 80px;
  }

  .formBtn:nth-child(2) {
    min-width: 130px;
  }

  .centerSelf {
    top: calc(50% - 125px);
    left: calc(50% - 160px);
  }
}
